#page-locals {
    width: 100%;
    height: 100%;
    display: block;
    
}

#mapid {
    width: 100%;
    height: 100%;
    animation-delay: 200ms;
    z-index: 0;
}

.navbar {
    background-color: #ff6961;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1  ;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #FF746C;
    color: black;
}

.navbar a.active {
    background-color: #FF746C;
    color: white;
}

.navbar .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}

.leaflet-popup-content {
    color: #0089A5;
    margin: .8rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leaflet-popup-content a {
    width: 4rem;
    height: 4rem;
    background: #15C3D6;
    box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s;
}

.leaflet-popup-content a:hover {
    background: #17D6EB;
}

.leaflet-popup-tip {
    display: none;
}

.leaflet-container {
    font: 700 2rem/1 'Nunito', sans-serif;
    z-index: 5;
}