<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Locais Cadastrados</title>


  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/animations.css" />
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/modal.css">
  <link rel="stylesheet" href="/css/page-locals.css" />


  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap" rel="stylesheet" />
</head>

<body>
  <div id="page-locals" style="background-color: #ff6961;">

    <div class="navbar" id="navbar">
      <a href="/" class="active">
        <img src="/images/arrow-back.svg" alt="Voltar">
      </a>
      <a href="#" class="active">Locais</a>
      <a href="#">Médicos</a>
      <a href="#" id="infoBtn">Info</a>
      <a href="javascript:void(0);" class="icon" onclick="menuToggler()">&#9776;</a>
    </div>

    <div id="mapid" class="animate-appear"></div>

    <div class="locals">
      {{#each locais}}
      {{#if this.enabled}}
      <span hidden data-id="{{this.id}}" data-name="{{this.name}}" data-lat="{{this.lat}}"
        data-lng="{{this.lng}}"></span>
      {{/if}}

      {{/each}}
    </div>
  </div>

  <div id="aboutMeModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h3>Sobre Mim</h3>
      </div>
      <div class="modal-body">
        <p>
          <img src="/images/me.jpeg" alt="Foto do Lucas">
          Olá, eu me chamo Lucas Balieiro
        </p>

        <p>Todas as informações nesse site passam por um processo de triagem para saber se os fornecedores ainda possuem
          estoque</p>

        <p>E tento deixar essa plataforma o mais atualizada possível</p>
        <p>Se você tiver alguma informação que seja relevante não deixe de entrar em contato</p>
        <p>
          <a href="https://www.instagram.com/luska.balieiro/"> <img class="icon" alt="Instagram"
              src="/images/instagram.svg">
          </a>

          <a href="https://api.whatsapp.com/send?l=pt_BR&phone=5592981704683&text=Oi, Lucas" target="_blank">
            <img style="background-color: #3cdc8c;" src="/images/whatsapp.svg" class="icon" alt="WhatsApp" />
          </a>

          <a href="https://www.linkedin.com/in/lucasbalieiro/"> <img class="icon" alt="LinkedIn"
              src="/images/linkedin.svg">
          </a>
        </p>
      </div>
    </div>

  </div>

  <script src="/scripts/page-orphanages.js"></script>

  <script>
    function menuToggler() {
      var x = document.getElementById("navbar");
      if (x.className === "navbar") {
        x.className += " responsive";
      } else {
        x.className = "navbar";
      }
    }
  </script>

  <script>

    var modal = document.getElementById("aboutMeModal");
    var btn = document.getElementById("infoBtn");

    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function () {
      modal.style.display = "block";
    }

    span.onclick = function () {
      modal.style.display = "none";
    }

    window.onclick = function (event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  </script>

</body>

</html>