<div id="aboutMeModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <span class="close">&times;</span>
        <h3>Sobre Mim</h3>
      </div>
      <div class="modal-body">
        <p>
          Olá, eu me chamo Lucas Balieiro
        </p>

        <p>Todas as informações nesse site passam por um processo de triagem para saber se os fornecedores ainda possuem
          estoque</p>

        <p>E tento deixar essa plataforma o mais atualizada possível</p>
        <p>Se você tiver alguma informação que seja relevante não deixe de entrar em contato</p>
        <p>
          <a href="https://www.instagram.com/luska.balieiro/"> <img class="icon" alt="Instagram"
              src="/images/instagram.svg">
          </a>

          <a href="https://api.whatsapp.com/send?l=pt_BR&phone=5592981704683&text=Oi, Lucas" target="_blank">
            <img style="background-color: #3cdc8c;" src="/images/whatsapp.svg" class="icon" alt="WhatsApp" />
          </a>

          <a href="https://www.linkedin.com/in/lucasbalieiro/"> <img class="icon" alt="LinkedIn"
              src="/images/linkedin.svg">
          </a>
        </p>
      </div>
    </div>

  </div>