<div id="infoMedicos" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h3>Atenção</h3>
    </div>
    <div class="modal-body">
      <p>Estou reunindo informações de médicos que podem realizar atendimento residencial</p>
      <p>Se você tiver opção de algum, por favor, entre em contato comigo no menu Info</p>
    </div>
  </div>

</div>