<div class="navbar" id="navbar">
    <a href="/locais" class="active">
        <img src="/images/arrow-back.svg" alt="Voltar">
    </a>
    <a href="/locais">Locais</a>
    <a href="/profissionais_saude">Profissionais de Saúde</a>
    <a href="#" id="infoBtn">Info</a>
    <a href="javascript:void(0);" class="icon" onclick="menuToggler()">&#9776;</a>
</div>